html, body, div, ul, li{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
}

.content{
	width:70%;
	border:1px solid #CCC;
	margin:50px auto;
	padding:5px;
}

.gallery {
	width: 100%;
	margin: 0;
	-webkit-overflow-scrolling: touch;
	display: table;
}

.gallery:after{
	clear:both;
}

	.gallery .attachment {
		position: relative;
		float: left;
		padding: 8px;
		margin: 0;
		color: #444;
		cursor: pointer;
		list-style: none;
		text-align: center;
		user-select: none;
		width: 25%;
	}

		.gallery .attachment:focus {
			-webkit-box-shadow: inset 0 0 2px 3px #fff, inset 0 0 0 7px #5b9dd9;
			box-shadow: inset 0 0 2px 3px #fff, inset 0 0 0 7px #5b9dd9;
			outline: none;
		}

		.gallery .attachment .thumbnail {
			overflow: hidden;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 1;
			-webkit-transition: opacity .1s;
			transition: opacity .1s;
		}

	.gallery .attachment-preview {
		position: relative;
		-webkit-box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
		box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 ), inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
		background: #eee;
		cursor: pointer;
	}

		.gallery .attachment-preview:before {
			content: "";
			display: block;
			padding-top: 100%;
		}

	.gallery .attachment .thumbnail:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		-webkit-box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.1 );
		box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.1 );
		overflow: hidden;
	}

	.gallery .attachment .thumbnail img {
		top: 0;
		left: 0;
	}

	.gallery .attachment .thumbnail .centered {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-transform: translate( 50%, 50% );
		-ms-transform: translate(50%,50%); /* Fails with spaces?? Weird! */
		transform: translate( 50%, 50% );
	}

		.gallery .attachment .thumbnail .centered img {
			-webkit-transform: translate( -50%, -50% );
			-ms-transform: translate(-50%,-50%);
			transform: translate( -50%, -50% );
			width: 150%;
		}

	.gallery[data-columns="1"] .attachment {
		width: 100%;
	}

	.gallery[data-columns="2"] .attachment {
		width: 50%;
	}

	.gallery[data-columns="3"] .attachment {
		width: 33.33%;
	}

	.gallery[data-columns="4"] .attachment {
		width: 25%;
	}

	.gallery[data-columns="5"] .attachment {
		width: 20%;
	}

	.gallery[data-columns="6"] .attachment {
		width: 16.66%;
	}

	.gallery[data-columns="7"] .attachment {
		width: 14.28%;
	}

	.gallery[data-columns="8"] .attachment {
		width: 12.5%;
	}

	.gallery[data-columns="9"] .attachment {
		width: 11.11%;
	}

	.gallery[data-columns="10"] .attachment {
		width: 10%;
	}

	.gallery[data-columns="11"] .attachment {
		width: 9.09%;
	}

	.gallery[data-columns="12"] .attachment {
		width: 8.33%;
	}
